{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="alert alert-warning" role="alert">
    <p>Pengguna Email = {{ email }}</p>
</div>

<form method="post" id="authorForm">
    {% csrf_token %}
    <div class="form-group col-md-6 mb-0">
        <label for="selected_author" class="form-label">Author*</label><br>
        <select name="selected_author" id="selected_author" class="form-select" onchange="document.getElementById('authorForm').submit()">
          {% for pengguna in list_pengguna %}
            <option value="{{ pengguna.email }}" {% if email == pengguna.email %}selected{% endif %}>{{ pengguna.email }}</option>
          {% endfor %}
        </select>
    </div>
</form>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group col-md-6 mb-0">
        {{ form.set_view|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.artikel|as_crispy_field }}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{ form.file|as_crispy_field }}
    </div>
    
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>
<br>
<p>Content yang di create oleh pengguna yang ada di session</p>
<table class="table table-bordered">
    <thead>
        <tr class="text-center table-light">
            <th>Pengguna</th>
            <th>Artikel</th>
            <th>File</th>
            <th>tanggal create</th>
        </tr>
    </thead>
    <tbody>
        {% for content in isi_tabel %}
        <tr class="record">
            <td>{{ content.author.email }}</td>
            <td>{{ content.artikel }}</td>
            <td>{{ content.file.name|cut:"file/" }}</td>
            <td>{{ content.date_created }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">Data Belum ada</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}